
.t {
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #999;
    color: rgb(235, 230, 230);
    position: fixed;
    top: 27px;
    right: 80px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    .t-icon {
        width: 15px;
        height: 15px;
        
    
    }

    .t {
        bottom: 10%;

    }
    
    .t-button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #999;
        position: absolute;
        cursor: pointer;
        transition: all .5s ease;
    }
}

    

    




